.quizz {
  color: #555;
}

div.item {
  padding: 0 10px;
}

div.right_col {
  min-height: 0;
}

.site_title {
  line-height: 23px;
  padding: 5px 5px;
}

div.profile_info {
  padding: 0;
}


.img-circle.profile_img {
  margin-top: 0;
}

.img-circle.profile_info {
  height: 56.35px;
  line-height: 56.35px;
}

#top-frame>div{
  padding: 0;
}

#top-frame>div>p {
  text-align: center;
}

#middle-frame {
  margin: 50px 0;
}

.glyphicon {
  font-size: 36px;
}

h1, h2 {
  margin: 25px 0;
  font-weight: bold;
}

.quizz label {
  font-size: 24px;
}

.quizz input {
  font-size: 24px;
} 

.info {
  padding-left: 0;
}

.glyphicon-ok-sign {
  color: #555;
  transition: color ease-in-out .2s;
}

.glyphicon-ok-sign:hover {
  color: green;
}

.glyphicon-question-sign {
  color: #555;
  transition: color ease-in-out .2s;
}

.glyphicon-question-sign:hover {
  color: red;
}

.site_title {
  line-height: 23px;
  padding-top: 5px;
}

.nav_title {
  height: 80px;
}  

.img-circle.profile_img {
  padding: 0;
}

#top-frame>div{
  padding: 0;
}

#top-frame>div>p {
  text-align: center;
}

#middle-frame {
  margin: 50px 0;
}

.glyphicon {
  font-size: 36px;
}

#logo {
  padding: 0;
}

.info {
  padding-left: 0;
}

.glyphicon-ok-sign {
  color: #555;
  transition: color ease-in-out .5s;
}

.glyphicon-ok-sign:hover {
  color: green;
}

.glyphicon-question-sign {
  color: #555;
  transition: color ease-in-out .5s;
}

.glyphicon-question-sign:hover {
  color: red;
}

.dashboard_graph {
  padding: 0;
}

.dashboard_graph p {
  line-height: 1.5;
  font-size: 22px;
}

.dashboard_graph p:last-child {
  margin: 0;
}

.dashboard_graph p:not(:last-child) {
  margin: 0 0 10px;
}

.validation {
  margin: 25px 0;
}

.validation>span:not(:last-child) {
  margin-bottom: 15px;
}

span.glyphicon {
  margin: 10px;
}

#logo_jcma {
  display: block;
  margin: 0 auto;
  width: 55px;
}

#jcma {
  display: block;
  line-height: 55px;
}

div.understanding {
  margin-top: 25px;
}

#tabagisme {
  font-size: 22px;
}

#radio-non {
  margin-left: 10px;
}

#score-button {
  font-size: 24px;
  font-weight: bold;
  width: 200px;
  height: 200px;
  background-color: hsla(112, 84%, 31%, .2);
  border: 5px solid hsl(112, 84%, 31%);
  border-radius: 50%;
  margin-top: 250px;
  transform: translateY(-50%);
}
.score {
  text-align: center;
}

#preview-textfield {
  display: block;
  margin-bottom: -10px;
}

.demo-placeholder {
    height: 385px;
}

.analysepdf { height: 700px;}
